page-home {
  .content {
    background-color: rgba(185, 166, 201, 0.69);
  }
  h6 {
    font-size: 25px;
    display: flex;
    margin: 10%;
    text-align: center;
    color: white;
  }

  .opps{
    padding-top: 5%;
  }

  button{
    color: white;
  }
}
